/* vedi come impostare! */
@import url("https://fonts.gstatic.com/s/inter/v8/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2");
@import url("https://fonts.gstatic.com/s/redhatdisplay/v11/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6h.woff2");


* {
	box-sizing: content-box;
}

body {
	padding: 0 10%;
}

p {
	font-family: 'Inter';
	font-size: 20px;
}

h1,
h2,
h3 {
	 font-family: 'Red Hat Display';
 }

h1 {
	font-size: 64px;
} 

h2 {
	font-size: 56px;
}

/* titoli article sec-3 */

h3 {
	font-size: 26.08px;
}





/* navbar */

.header {
	width: 100%;
	height: 600px;
	display: flex;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 25px;
}

nav > ul {
	width: 35%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav > ul > li {
	list-style: none;
	
}

.img-header {
	width: 50%;
	height: 250px;
	margin: auto;
	background-image: url("/about.image/about-hero.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.break {
	width: 0;
	height: 50px;
	margin: auto;
	border: solid 1px rgb(212, 212, 216);
	fill: rgb(212, 212, 216);
}

/* section 1 */

.sec-1 {
	text-align: center;
}

.svg-sec-1 {
	width: 70%;
	display: flex;
	margin: auto;
	justify-content: space-around;
	align-items: center;
}

.svg-sec-1 > div > svg {
	 width: 80px;
	 fill: red;
	 border: solid 1px red;
	 border-radius: 40px;
 }

 .empty-sec-1 {
	 width: 15%;
	 height: 0;
	 border: solid 1px rgb(63, 63, 69);
 }

/* section 2  --> GRID <--  */

.sec-2 {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto;
	gap: 10px;
}

.sec-2 > div {
	height: 150px;
}

.img-1-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-01.jpg");
	background-size: contain;
	background-repeat: no-repeat;

	grid-column: 1 / span 4;

}

.img-2-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-02.jpg");
}

.img-3-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-03.jpg");
}

.img-4-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-04.jpg");
}

.img-5-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-05.jpg");
}

.img-6-sec-2 {
	height: 200px;
	background-image: url("/about.image/about-grid-06.jpg");
}

/* scetion 3 */

.big-sec-3 {
	border: solid 1px green;
	display: flex;
	width: 100%;
	justify-content: space-around;
}


.sub-sec-3 {
	text-align: center;
}

.sec-3 aside {
	border: solid pink;
	width: 15%;
}

.art-sec-3 {
	border: solid orangered;
	width: 65%;
	display: grid;
	grid-template-columns: auto auto;
	gap: 30px;
}


.art-sec-3 > article {
	border: solid 1px black;
	height: 100px;


}

.icon-sec-3 {
	width: 12px;
	display: inline-block;
}

/* aside */

.sec-3 p {
	font-size: 16px;
}

.sec-3 aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sec-3 aside > button {
	display: flex;
	justify-content: space-around;

/* stile bottoni */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sec-3 aside > button > div {
	border: solid 1px red;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	display: flex;


	position: relative;
}

.sec-3 aside > button > div > span {
	border: solid 1px goldenrod;
	height: 20px;

	position: absolute;
	top: 12px;
}

/* section 4 */

.sub-sec-4 {
	text-align: center;
}

.big-sec-4 {
	width: 100%;
	border: solid 1px yellow;
	display: flex;
	justify-content: space-around;
}

.grid-sec-4 {
	width: 50%;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
}

.slides {
	width: 200px;
	height: 200px;
	color: white;
	text-align: center;
	cursor: pointer;
}

.slides > h3 {
	margin-top: 150px;
}

#sl-1 {
	background-image: url("/about.image/career-01.jpg");
	background-size: cover;
}

#sl-2 {
	background-image: url("/about.image/career-02.jpg");
	background-size: cover;
}

#sl-3 {
	background-image: url("/about.image/career-03.jpg");
	background-size: cover;
}

#sl-4 {
	background-image: url("/about.image/career-04.jpg");
	background-size: cover;
}

#sl-5 {
	background-image: url("/about.image/career-05.jpg");
	background-size: cover;
}

#sl-6 {
	background-image: url("/about.image/career-06.jpg");
	background-size: cover;
}

/* aside sec-4 */

.title-list {
	font-family: 'Inter' sans-serif;
	font-size: 18px;
}

.big-sec-4 aside > ul > li {
	padding: 10px;
}

.big-sec-4 li {
	list-style: none;
 }

.big-sec-4 li:before {
	content: '';
	display: inline-block;
	height: 10px;
	width: 10px;
	background-image: url("/about.image/sec-4.svg");
 }

 .big-sec-4 li:first-child {
	 color: #66BBB4;
 }


































/* section 2 */
/* --------------------------> FLEX <------------------------
.sec-2 {
	border: solid 1px green;
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;	
}

.sec-2 > div {
	margin: 5px;
}

.img-1-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-01.jpg");
	background-size: cover;
}

.img-2-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-02.jpg");
	background-size: cover;
}

.img-3-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-03.jpg");
	background-size: cover;
}

.img-4-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-04.jpg");
	background-size: cover;
}

.img-5-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-05.jpg");
	background-size: cover;
}

.img-6-sec-2 {
	border: solid 1px red;
	height: 200px;
	width: 200px;
	background-image: url("/about.image/about-grid-06.jpg");
	background-size: cover;
}
*/










.padsidesbase {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.darkgraybgc {
	background-color: rgb(29 29 32);
}

.automargin {
	margin-left: 100px;
	margin-right: 100px;
}

.padtbbase {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.bordertop {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.sez5divh1p {
	padding-bottom: 4rem;
	text-align: center;
	margin-left: 168px;
	margin-right: 168px;
}
.sez5divimg {
	margin-left: 168px;
	margin-right: 168px;
}

.h1sez5 {
	font-family: "Red Hat Display", sans-serif;
	color: white;
	margin-bottom: 16px;
	font-size: 56px;
	line-height: 1.18;
	font-weight: 800;
	letter-spacing: -0.02em;
	opacity: 1;
}

.psez5 {
	color: rgb(162 162 168);
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: -0.01em;
}

/* ??? */

img[src^="about.image/team-member-"] {
	border-radius: 9999px;
}
