body {
    background-color: rgb(29, 29, 32);
    padding: 0 8%;
}

header {
    height: min-content;
}

section {
    border-left: none;
    border-right: none;
    max-height: max-content;
    min-height: min-content;

}

h1 {
    color: #f4f4f5;
    font-size: 72px;
    font-family: 'Red Hat Display', sans-serif;

}

h2 {
    color: #f4f4f5;
    font-size: 56px;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    color: #a2a2a8;
}

.logo {
    width: 32px;
    height: 30px;
    margin: 20px;
    position: relative;
}

nav {
    margin: 1px 0px;
    width: 100%;

}

.anchor {
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 10px;
    position: absolute;
    top: 15px;
    left: 250px;

}

a {
    padding: 8px 20px;
    text-decoration: none;
    color: #d4d4d8;
    font-size: 16px;
}

.btn {
    background-color: #3abab4;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    font-size: 16px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    position: absolute;
    border-radius: 4px;
    margin: 0 20px 0 500px;



}

.f1pic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.f1pic_frase--link>h1 {
    font-size: 6.4rem;
    color: white;

}

.f1pic_frase>a:hover {
    text-decoration: none;
}

.f1pic_unfrase {
    color: #9a9aa4;
    font-size: 2rem;
}

.f1pic_leading {
    
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.f1pic_trait {
    
    align-self: center;
    color: gray;
    
}

.f1pic_trait>a {
    color: white;

}
.f1pic_trait{
    font-size: 1.6rem;
    
}

.f1pic_face {
    background-image: url("../Website-project/blog.image/news-author-01.jpg");
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    align-self: center;
    
}

.f1pic_face:hover {
    cursor: pointer;
}

aside {
    width: 40%;
    border: 1px solid yellow;
    height: max-content;
}

aside h3 {
    color: white;
}

aside h5 {
    color: white;;
}

aside ol li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
   
}

aside a {
    color: lightgray;
    text-decoration: none;
}

aside div {
    color: grey;
    font-size: 25px;
    float: left;
}


.bottom-link{
    background-color: #404040;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

footer {
    font-size: 13px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

footer li {
    color: white;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

.copyright{
    color: lightgrey;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.social-icon {
    width: 32px;
    height: 30px;
    fill: #3ABAB4
}

.btn-social {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #2E2E33;
}

.last-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.btn-footer {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.third-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.left-third-section {
    width: 60%;
}