

.logo {
    width: 32px;
    height: 30px;
    margin: 20px;
    position: relative;
}


a {
    padding: 8px 20px;
    text-decoration: none;
    color: #d4d4d8;
    font-size: 16px;
}


aside {
    width: 25%;
    border: 1px solid yellow;
    height: max-content;
}

aside h3 {
    color: white;
    font-size: 26.08px;
}

aside h5 {
    color: white;;
}

aside ol li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
   
}

.title-number {
    display:flex;
    align-items: center;
}

.subtitle-list {
    font-size: 14px;
    color: #6e6e76;
}

aside a {
    color: lightgray;
    text-decoration: none;
}

aside div {
    color: grey;
    font-size: 25px;
    float: left;
}



footer {
    font-size: 13px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

footer a {
    color: gray;
    text-decoration: none;
}

footer li:first-child a {
    color: white;
    font-weight: bold;
}

.copyright{
    color: grey;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.social-icon {
    width: 32px;
    height: 30px;
    fill: #3ABAB4
}

.btn-social {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #2E2E33;
}

.last-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 40px;
}

.btn-footer {
    display: flex;
    justify-content: space-between;
    width: 220px;
}
