@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #1d1d20;
    padding: 0 150px;
}

h1 {
    color: #f4f4f5;
    font-size: 72px;
    font-family:'Red Hat Display', sans-serif;
    
}

h2 {
    color: #f4f4f5;
    font-size: 56px;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    color: #a2a2a8; 
}
.aself {
    align-self:center;
}
.logo {
    border: 1px solid red;
    width: 50px;
    height: 30px;
    align-self:center;
    cursor:pointer;
}
nav {
    margin: 1px 0px;
    width: 100%;
    height: max-content;
    border: 1px solid red;
    display: flex; 
    flex-wrap:wrap;
    justify-content:space-around;
}
.circle {
    width: 44px;
    height: 24px;
    background-color: #3abab4;
    border-radius: 15px;
    padding: 8px 20px;
    position: absolute;
    top: 20px;
    right: 70px;
}

a {
    padding: 8px 20px;
    text-decoration:none;
    color: #d4d4d8;
    font-size: 16px;
}
.anchornav {
    border: 1px solid blue;
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 10px;
    width: 450px;
    display: flex;
    flex-direction:row;
    align-self:center;

}
.btn {
    background-color: #3abab4;
    color: #ffffff;
    font-weight: bolder;
    border:none;
    font-size: 16px;
    width: 150px;
    height: 40px;
    text-decoration:none;
    /*position: absolute;*/
    border-radius: 4px;
}
.borderbtn {
    border: 1px solid green;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.written {
    border: 1px solid green;
    max-width: 650px;
    margin: 40px 40px 0px 180px;
    height: max-content;
    display:flex;
    flex-direction:column;
}
form {
    height: 70px;
    margin: 20px 0px;
}

input {
    width: 250px;
    height: 50px;
    border-radius: 3px;
    background-color: #2e2e33;
    color: white;
    padding: 12px 16px;
    border: 1px solid #2e2e33;
}

::placeholder {
    font-size: 16px;
}

.btntwo {
    position: relative;
    left: 10px;
    height: 50px;
    width: 170px;
    border-radius: 5px;
    background-color:#3abab4;
    color:#f4f4f5;
    font-weight: bolder;
    font-size: 16px;
    border:none;
    cursor: pointer;
}


 .loghino {
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
    right: 13px;
 }

.writtenlist {
    color:#a2a2a8;
    font-size: 16px;
    margin: 7px 0;
}

span {
    color:#3abab4;
    font-weight: bold;
    margin: 0 5px;
}

.containerimg {
    width: 324px;
    height: 600px;
    border: 1px solid blue;
    margin: 0px 70px 0 200px;
    position:relative;
}

.sectionone {
    border: 1px solid yellow;
    width: 100%;
    height: 800px;
    display: flex;
    align-items:center;

}

.photophone {
    max-width: 255px;
    border-radius: 5px;
    position: absolute;
    top: 43px;
    right: 33px;
}

.containernumber {
    box-sizing:border-box;
    border: 1px solid salmon;
    display:flex;
    justify-content: space-between;
    margin: 0px 120px;
}

.boxnumber {
    background-color: #2e2e33;
    width: 230px;
    height: 144px;
    padding: 32px 4px;
}

h3 {
    color: #f4f4f5;
    font-size: 42px;
    padding: 0px 70px;
}

.boxp {
    padding: 0px 30px;
}

.secondsection {
    border: 1px solid orangered;
    width: 100%;
    height: 800px;
}

.secondwritten {
    text-align:center;
    margin: 50px 0;

}

.carousel {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content:space-between;
    border: 1px solid blueviolet;
}

.carouselbtn {
    background-color:#3abab4;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 8px 14px;
    color: #ffffff;
    font-weight:bold;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 200px;
    right: 200px;
    
}

.carousel1{
    width: 480px;
    height: 150px;
    position:relative;

}

.btnthirdsectionone {
    fill:#4fd1d5;
    background-color:#31979533;
    color:#4fd1d5;
    margin: 10px 10px;
    border:none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.svgthirdsection {
    width: 20px;
    height: 15px;
    fill: #f4f4f5;
}

.btnthirdsection {
    color:#d4d4d8;
    background-color: #2e2e33;
    margin: 10px 10px;
    border:none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.thirddisplayflex {
    border: 1px solid rgb(0, 183, 255);
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin: 20px 20px;
}
.listflex {
    display:flex;
    flex-direction:column;
    width: 270px;
    border: 1px solid pink;
}

.thirdwritten {
    text-align:center;
    margin: 50px 0;
}

.containerphotovideo {
    border: 1px solid cornflowerblue;
    width: 675px;
    height: 510px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.boxonevideo {
    background-image:url("/immagini.homepage/video.png");
    width: 325px;
    height:194px;
    border: 1px solid purple;
    background-size: cover;
}

.boxtwovideo {
    background-image:url("/immagini.homepage/video.png");
    width: 325px;
    height: 194px;
    border: 1px solid yellow;
    background-size: cover;
}

.boxthreevideo {
    background-image:url("/immagini.homepage/video.png");
    width:325px;
    height: 194px;
    background-size: cover;
    border: 1px solid green;
}

.boxfourvideo {
    background-image:url("/immagini.homepage/video.png");
    width: 325px;
    height: 194px;
    background-size: cover;
}

.fourthwritten {
    text-align:center;
    margin: 50px 0;
}

.containerphone {
    border: 1px solid fuchsia;
    width: 1300px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px 100px;
}

.one {
    font-size: 16px;
    color:#4fd1d5;
    font-family: sans-serif;
    text-align:center;
    background-color: #31979540;
    width: 50px;
    height:50px;
    border-radius: 50px;
}

.two {
    font-size: 16px;
    color:#4fd1d5;
    font-family: sans-serif;
    text-align:center;
    background-color: #31979540;
    width: 50px;
    height:50px;
    border-radius: 50px;
}

.three {
    font-size: 16px;
    color:#4fd1d5;
    font-family: sans-serif;
    text-align:center;
    background-color: #31979540;
    width: 50px;
    height:50px;
    border-radius: 50px;
}

.phone1 {
    background-image:url("/immagini.homepage/iphone-mockup.png");
    background-size: cover;
    width: 300px;
    height: 580px;
    border: 1px solid palevioletred;
}

.phone2 {
    background-image:url("/immagini.homepage/iphone-mockup.png");
    background-size: cover;
    width: 300px;
    height: 580px;
    border: 1px solid yellowgreen;
}

.phone3 {
    background-image:url("/immagini.homepage/iphone-mockup.png");
    background-size: cover;
    width: 300px;
    height: 580px;
    border: 1px solid indianred;
}

.svg-colored-up {
    width:32px;
    height:32px;
    position:absolute;
    left: 20px;
    top: 20px;
}

.svg-colored-down {
    width:24px;
    height:24px;
    position: absolute;
    right: 27px;
    bottom: 20px;
}

.containercolors{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:15px;
    margin:85px 150px;
    position:relative;
    justify-content: center;
}

.green-rectangle {
    background-color: #3abab4;
}

.purple-rectangle {
    background-color: #9f7aea;
}

.blue-rectangle {
    background-color: #667eea;
}

.pink-rectangle {
    background-color: #ed64a6;
}


.svg-colored-up~h4 {
    font-family: "Red Hat Display", Helvetica, Sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top:60px;
    letter-spacing: -.03em;
}    

.containercolors>a {
    position:relative;
    height:206px;
    width:258px;
    padding:20px;
    box-sizing: border-box;
}

.container-arrow {
    height:206px;
    width:258px;
    position:absolute;
    right: 0;
    top:0;
    left:0;
    transition: left 0.1s ease-in-out;
}

.container-arrow:hover {
    position: absolute;
    left:7px;
}

h4~p {
    color:rgb(255,255,255,0.8);
    font-family: "inter", helvetica, sans-serif;
    position:absolute;
    top:95px;
    line-height: 1.5;
    font-size: 16px;
}

h2 {
    font-family: "Red Hat Display", Helvetica, sans-serif;
    font-size:56px;
    color:#F4F4F5;
    text-align: center;
    letter-spacing:-0.02em;
    line-height: 1.18;
    font-weight:700;
}    

.seventh {
    border-top: 1px solid #44444480;
    margin: 80px 0 0 0;
    padding: 80px 0 0 0;
}

.on-footer-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px 0;
    background-image: radial-gradient(circle at 1030px -35px,rgba(58,186,180,0.4) , rgba(46,46,51,255) 40%);
    align-content: center;
    height: 232.35px;
}

.on-footer-container-1>h3 {
    font-family: "Red Hat Display", Helvetica, Sans-serif;
    font-size: 42.08px;
    font-weight:800;
    letter-spacing: -0.02em;
    color:#f4f4f5;
    line-height: 1.18;
}

.btn-on-footer {
    background-color: #3abab4;
    color: #ffffff;
    font-weight: bolder;
    border:none;
    font-size: 16px;
    width: 150px;
    height: 48px;
    text-decoration:none;
    border-radius: 4px;
    margin: 0 5px;
}

.site-logo-footer {
    width:32px;
    height:32px;
}

footer {
    display:grid;
    grid-template-columns: 216px 178px 178px 178px 178px;;
}

.articles-with-photos {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
    margin: 180px 0;
    position:relative;
}

.test-quotes {
    font-family: "inter", helvetica, sans-serif;
    font-size: 20px;
    color: #A2A2A8;
    line-height:1.5;
    letter-spacing: -0.01em;
    font-weight:lighter;
    text-align: center;
}

.testimonials>img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    left:215px;
    top: -50px;
}    

.test-names {
    font-family: "red hat display", helvetica, sans-serif;
    font-size: 16px;
    color:#F4F4F5;
    font-weight:700;
    text-align: center;
}

.aqualink {
    font-family: "red hat display", helvetica, sans-serif;
    font-size: 16px;
    color: #3ABAB4;
    font-weight:700;
}

h2~p {
    font-family: "inter", helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height:1.5;
    margin:15px;
}

.fifth-section-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container {
    display: grid;
    grid-template-columns: 258px 258px 258px;
    justify-content:space-between;
    gap: 25px;
    position:relative;
    left:103px;
}

.fifth-section {
    margin: 50px 0;
}

.cont {
    width: 258px;
    height: 362.18px;
    padding:20px 27px;
    background-color: #2e2e33;
    position:relative;
}

#cont1 {
    border:#3abab4 solid 2px;
}


.cont>h4 {
    font-family: "red hat display", helvetica, sans-serif;
    font-size: 20px;
    color: #f4f4f5;
    font-weight: 800;
}

.discount {
    background-color:#3abab460;
    display:inline-block;
    padding: 3px 12px;
    border-radius: 15px;
    color:#3abab4;
    font-size:12px;
    font-family: "inter", helvetica, sans-serif;
    font-weight: 800;
}

.firstbtn {
        background-color: #3abab4;
        color: #ffffff;
        font-weight: bolder;
        border:none;
        font-size: 16px;
        width: 150px;
        height: 48px;
        text-decoration:none;
        border-radius: 4px;
        margin: 0 5px;
        position:absolute;
        top:287px;
        margin: 0;
}